extends ../base

block variables
    - var template = 'details';

block content
    .detail
        .detail__wrapper
            figure.detail__media
                img.detail__media__image(alt=product.data.image.alt, src=product.data.image.url)

            .detail__information
                p.detail__information__collection= product.data.collection.data.title

                h1.detail__information__title= product.data.title

                .detail__information__content
                    .detail__information__highlights
                        each highlight in product.data.highlights
                            p.detail__information__highlights__icon
                                svg.detail__information__highlights__icon
                                    use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

                                span.detail__information__hightlights__text= highlight.highlights_text

                    .detail__information__list
                        each item in product.data.informations
                            p.detail__information__item
                                strong.detail__information__item__label= item.informations_label
                                span.detail__information__item__description= item.informations_description

                    a.detail__information__link(href=product.data.link_url.url, target="_blank")= product.data.link_text
